<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | Temple Explorer India</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-orange-100 flex items-center justify-center min-h-screen">

<div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">

    <h1 class="text-4xl font-bold text-center text-orange-700">

        🛕 Temple Explorer

    </h1>

    <p class="text-center text-gray-500 mt-2 mb-8">

        Welcome Back

    </p>

    {% if messages %}

        {% for message in messages %}

            <div class="bg-red-100 text-red-700 p-3 rounded-lg mb-4">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="mt-6 w-full bg-orange-600 hover:bg-orange-700 text-white py-3 rounded-xl font-bold">

            Login

        </button>

    </form>

    <p class="text-center mt-6">

        Don't have an account?

        <a href="{% url 'register' %}"
           class="text-orange-700 font-bold">

            Register

        </a>

    </p>

</div>

</body>

</html>